
// Color Pallette
$primaryColor: #134136;
$hoverButtonColor: #52d297;
$buttonTextColor: #52d2d2;
//Original pallette
$brown: rgba(112, 78, 46, 1);
$lightBrown: rgba(121, 116, 92, 1);
$lightYellow: rgba(230, 248, 178, 1);
$lemon: rgba(205, 231, 127, 1);
$greyGreen: rgba(112, 145, 118, 1);
//Other colors
$color1: rgba(202, 209, 120, 1);
$color2: rgba(211, 213, 124, 1);
$color3: rgba(199, 170, 116, 1);
$color4: rgba(149, 121, 100, 1);
$color5: rgba(96, 49, 64, 1);

* {
  // border: 1px dashed red;
}

body {
  margin: 0;
  color: #ccc;
  font-family: sans-serif;
  background-color: $lightYellow;
}

button {
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  // background-color: $color3;
  border-radius: 5px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: $color4;
  font-family: Arial;
  font-size: 22px;
  font-weight: bold;
  padding: 7px 20px;
  text-decoration: none;
  // text-shadow: 0px 1px 0px #e1e2ed;
  margin: 1px 3.5px 1px;
}

button:active {
  position:relative;
  top:1px;
}

#create-room-name, #create-room-lifetime{
  margin: 5px 5px 4px;
  font-size: 22px;
  width: 200px;
  padding: 9px;
}

#room-create-container {
  margin: 1em auto;
}

// #room-div-container {
//   border: 5px solid $lemon;
// }

.chatbox-container {
  background-color: $lemon;
  width: 60%;
  margin: 2em auto 0 auto;
  padding: 0.5em;
  overflow: scroll;
  height: 500px;
}
#msgPostDiv {
  width: 60%;
  padding: 0.5em;
  display: inline-block;
}

.msg-object, .room-object {
  display: inline-block;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em 0 0.5em 0;
  color: $color4;
}

.room-object {
  width: 800px;
  border: 5px solid $lemon;
}

.msg-object:nth-of-type(odd), .room-object:nth-of-type(odd) {
  background-color: $lemon;
}
.msg-object:nth-of-type(even), .room-object:nth-of-type(even) {
  background-color: $lightYellow;
}
.msg-creator, .room-creator {
  display: inline-block;
  font-weight: 700;
  margin: 0 0.5em;
  width: 150px;
}
.mgs-body {
  color: #aca !important;
}
.room-name, .room-expires {
  display: inline-block;
  margin: 0 .5em;
  width: 200px;
}
.msg-timestamp {
  font-style: oblique;
  margin: 0 0.5em;
}
h1, h2, h3, h4 {
  text-align: center;
  margin: 0em auto 1em auto;
  padding: 1em;
  max-width: 200px;
  border-radius: 5px;
  background-color: $lemon;
  color: $color4;
}

input:focus {
  outline: none;
}

input {
  margin: 5px 5px 4px;
  font-size: 22px;
  width: 200px;
  padding: 9px;
}

.signIn{
  display: block;
  height: 50px;
  width:250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

.btn-back .btn-create .btn-joinroom {
  display: inline-block;
  margin: 0 auto;
  padding: 0.5em 0 0.5em 0;
  color: $color4;
  text-align: center;
}

// .btn-back {
//   position: absolute;
//   top: 1em;
//   left: 1em;
// }

.btn-bigger {
  display: inline-block;
  margin: 0 auto 5px 5px;
  text-align: center;
  width: 150px;
  padding: 0.5em 0 0.5em 0;
  color: $color4;
  text-align: center;
  font-size: 22px;
}

#lobby-container{
  text-align: center;
}

#chatroom-container {
  text-align: center;
}

.user-container {
  background-color: $greyGreen;
  border-radius: 3px;
  font-size: 16px;
  width: 12%;
  margin: 1em 0 1em 1em;
  padding: 0.5em;
  position: absolute;
  top: 0;
  right: 1em;
}

.user-title {
  font-weight: bold;
  color: $lemon;
}

.users {
  padding: 2px 0;
  color: $color4;
}

#logo {
  display: inline-block;
  margin: 1em auto;
}

.room-row {
  width: 100%;
}

#newMsgBody {
  width: 400px;
  margin: 1em;
}
