$primaryColor: #134136;
$hoverButtonColor: #52d297;
$buttonTextColor: #52d2d2;



body {
  margin: 0;
  color: #ccc;
  font-family: sans-serif;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(112,145,118,1);
}

button {
  box-shadow: $hoverButtonColor;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: $primaryColor;
  border-radius: 5px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 9px;
  font-weight: bold;
  padding: 7px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  margin: 1px 3.5px 1px;
}

button:active {
  position:relative;
  top:1px;
}

#create-room-name, #create-room-lifetime{
  margin: 5px 5px 4px;
  font-size: 22px;
  width: 200px;
  padding: 9px;
}
.chatbox-container {
  background-color: rgba(50, 70, 50, 0.7);
  width: 60%;
  margin: 2em auto;
  padding: 0.5em;
}
.msg-object, .room-object {
  width: 100%;
  margin: 0 auto;
  padding: 0.5em 0 0.5em 0;
  color: goldenrod;
  text-align: center;
}
.msg-object:nth-of-type(odd), .room-object:nth-of-type(odd) {
  background-color: rgba(0, 50, 0, 0.7);
}
.msg-object:nth-of-type(even), .room-object:nth-of-type(even) {
  background-color: rgba(50, 100, 50, 0.7);
}
.msg-creator, .room-creator {
  font-weight: 700;
  margin: 0 0.5em;
}
.mgs-body {
  color: #aca !important;
}
.room-name, .room-expires {
  margin: 0 2em;
}
.msg-timestamp {
  font-style: oblique;
  margin: 0 0.5em;
}
h1, h2, h3, h4 {
  text-align: center;
  margin: 1em auto;
  padding: 1em;
  max-width: 200px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: $hoverButtonColor;
}

input:focus {
  outline: none;
}

input {
  margin: 0 auto;
  display: inline-block;
}

.signIn{
  display: block;
  height: 50px;
  width:250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

.btn-back .btn-create{
  display: inline-block;
  color: black;
  margin: 0 auto;
  padding: 0.5em 0 0.5em 0;
  color: goldenrod;
  text-align: center;
}

.btn-bigger {
  display: inline-block;
  color: black;
  margin: 0 auto 5px 5px;
  text-align: center;
  width: 150px;
  padding: 0.5em 0 0.5em 0;
  color: goldenrod;
  text-align: center;
  font-size: 22px;
}

.lobby-container{
}

.room-create-container {
  text-align: center;
}

.user-container {
  background-color: rgba(50, 70, 50, 0.7);
  font-size: 16px;
  width: 12%;
  margin: 1em 0 1em 1em;
  padding: 0.5em;
}

.user-title {
  font-weight: bold;
  color: #aca;
}

.users {
  padding: 2px 0;
  color: goldenrod;
}
